* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 80px 80px;
}

body main .section-5 div button, body main .section-1 .bg-1 button {
  width: 280px;
  height: 60px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  background-color: #339ecc;
  color: white;
  border: none;
  border-radius: 30px;
  box-shadow: 2px 2px 6px #0c1524, 1px 1px 3px #0c1524;
}

body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
body header .container {
  overflow: hidden;
  background-color: #1c2230;
}
body header .container img {
  height: 50px;
  float: left;
}
body header .container ul {
  color: white;
  list-style-type: none;
  line-height: 50px;
  float: right;
  font-size: 0.8rem;
  font-weight: 400;
}
body header .container ul li {
  display: inline-block;
  margin-left: 50px;
}
body main .section-1 {
  background-color: #1c2230;
  text-align: center;
}
body main .section-1 img {
  height: 530px;
}
body main .section-1 .bg-1 {
  height: 350px;
  background-image: url(./images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100% 120%;
  background-position: 0px -50px;
  color: white;
  padding: 0 380px;
}
body main .section-1 .bg-1 h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 50px;
}
body main .section-1 .bg-1 p {
  margin-top: 25px;
  line-height: 25px;
  padding: 0 50px;
}
body main .section-1 .bg-1 button {
  font-size: 1rem;
  margin-top: 25px;
}
body main .section-2 {
  background-color: #181e2a;
  color: white;
  text-align: center;
  padding: 50px 250px;
}
body main .section-2 .label {
  width: 40%;
  padding: 0 25px;
  margin: 50px 0px;
  display: inline-block;
}
body main .section-2 .label img {
  height: 80px;
}
body main .section-2 .label h3 {
  font-family: "Raleway", sans-serif;
  margin-top: 20px;
}
body main .section-2 .label p {
  font-size: 0.8rem;
  margin-top: 20px;
}
body main .section-3 .container {
  background-color: #181e2a;
  overflow: hidden;
}
body main .section-3 .container img {
  width: 50%;
  float: left;
}
body main .section-3 .container div {
  width: 50%;
  float: left;
  color: white;
  padding-top: 100px;
  padding-left: 60px;
}
body main .section-3 .container div h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 50px;
}
body main .section-3 .container div p {
  margin-top: 25px;
  line-height: 25px;
}
body main .section-3 .container div .link {
  padding-top: 0;
  padding-left: 0;
}
body main .section-3 .container div .link a {
  color: #65e2d9;
  font-size: 1rem;
  float: left;
}
body main .section-3 .container div .link img {
  width: 36px;
  height: 22px;
  padding-left: 14px;
  padding-left: 14px;
}
body main .section-4 .container {
  background-color: #181e2a;
  background-image: url(./images/bg-quotes.png);
  background-repeat: no-repeat;
  background-position: 80px 50px;
  text-align: center;
}
body main .section-4 .container .slide {
  width: 30%;
  color: white;
  background-color: #21293c;
  display: inline-block;
  border-radius: 10px;
  padding: 40px 30px 30px 30px;
  margin: 0 15px;
  text-align: left;
}
body main .section-4 .container .slide div {
  margin-top: 20px;
}
body main .section-4 .container .slide div img {
  width: 50px;
  border-radius: 100%;
  margin-right: 20px;
  float: left;
}
body main .section-4 .container .slide div p {
  font-size: 0.8rem;
}
body main .section-5 {
  background-color: #181e2a;
  color: white;
  text-align: center;
  padding-top: 120px;
}
body main .section-5 div {
  background-color: #181e2a;
  width: 60%;
  margin: auto;
  margin-bottom: -120px;
  padding: 40px 80px;
  border-radius: 15px;
  box-shadow: 2px 2px 6px #0c1524, 1px 1px 3px #0c1524;
  overflow: hidden;
  position: relative;
}
body main .section-5 div h1 {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
}
body main .section-5 div p {
  margin: 40px 0;
  font-size: 0.8rem;
}
body main .section-5 div input {
  width: 60%;
  height: 40px;
  float: left;
  border: none;
  border-radius: 30px;
  box-shadow: 2px 2px 6px #0c1524, 1px 1px 3px #0c1524;
  padding-left: 25px;
}
body main .section-5 div input::placeholder {
  opacity: 0.6;
  font-weight: 700;
}
body main .section-5 div button {
  width: 30%;
  height: 40px;
  float: right;
}
body footer {
  color: white;
  background-color: #0c1524;
  padding-top: 120px;
  padding-bottom: 20px;
}
body footer .container .top {
  margin-bottom: 40px;
}
body footer .container .top img {
  height: 50px;
}
body footer .container .bottom {
  overflow: hidden;
}
body footer .container .bottom .part-1 {
  width: 33.3333333333%;
  float: left;
}
body footer .container .bottom .part-2,
body footer .container .bottom .part-3,
body footer .container .bottom .part-4,
body footer .container .bottom .part-5 {
  width: 16.6666666667%;
  float: left;
}
body footer .container .bottom .part-1 img {
  float: left;
  width: 15px;
}
body footer .container .bottom .part-1 p {
  float: right;
  width: 90%;
  font-size: 0.8rem;
}
body footer .container .bottom .part-2 div {
  margin-bottom: 15px;
  margin-left: 30px;
}
body footer .container .bottom .part-2 div img {
  float: left;
  height: 15px;
  margin-right: 15px;
}
body footer .container .bottom .part-2 div p {
  font-size: 0.8rem;
  line-height: 15px;
}
body footer .container .bottom .part-3 ul,
body footer .container .bottom .part-4 ul {
  float: right;
  list-style-type: none;
}
body footer .container .bottom .part-3 ul li,
body footer .container .bottom .part-4 ul li {
  font-size: 0.8rem;
  margin-bottom: 15px;
}
body footer .container .bottom .part-5 img {
  float: right;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  padding: 5px;
  margin-left: 15px;
  border-radius: 100%;
}

/*# sourceMappingURL=compiled.css.map */
