//Layout
//- Mobile: 375px
//- Desktop: 1440px


//Primary Colors

//(intro and email sign up background)
$Dark-Blue: hsl(217, 28%, 15%);
//(main background)
$Dark-Blue: hsl(218, 28%, 13%);
//(footer background)
$Dark-Blue: hsl(216, 53%, 9%);
//(testimonials background)
$Dark-Blue: hsl(219, 30%, 18%);

//Accent
//(inside call-to-action gradient)
$Cyan: hsl(176, 68%, 64%);
//(inside call-to-action gradient)
$Blue: hsl(198, 60%, 50%);

//Neutral
$White: hsl(0, 0%, 100%);

$bg: #181e2a;


//Typography

//Body Copy
//Font size: 14px

//Headings, Call-to-actions, Header Navigation

//Family: [Raleway](https://fonts.google.com/specimen/Raleway)
//Weights: 400, 700
$Headings: 'Raleway',
sans-serif;

//Body

//Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
//Weights: 400, 700
$Paragraph: 'Open Sans',
sans-serif;

//==========================

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 80px 80px;
}

%button {
    width: 280px;
    height: 60px;
    font-family: $Paragraph;
    font-size: 0.8rem;
    font-weight: 400;
    background-color: $Blue;
    color: $White;
    border: none;
    border-radius: 30px;
    box-shadow: 1px 1px 4px #000;
}

body {
    font-size: 14px;
    font-family: $Paragraph;
    background-color: $Dark-Blue;

    header {
        .container {
            overflow: hidden;

            img {
                height: 50px;
                float: left;
            }

            ul {
                color: $White;
                list-style-type: none;
                line-height: 50px;
                float: right;
                font-size: 0.8rem;
                font-weight: 400;

                li {
                    display: inline-block;
                    margin-left: 50px;
                }
            }
        }
    }

    main {
        .section-1 {
            text-align: center;

            img {
                height: 530px;
            }

            .bg-1 {
                height: 350px;
                background-image: url(./images/bg-curvy-desktop.svg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: 0 25px;
                color: $White;
                padding: 0 380px;

                h1 {
                    font-family: $Headings;
                    font-size: 2rem;
                    font-weight: 700;
                    margin-top: 50px;
                }

                p {
                    margin-top: 25px;
                    line-height: 25px;
                    padding: 0 50px;
                }

                button {
                    @extend %button;
                    margin-top: 25px;
                }
            }
        }

        .section-2 {
            background-color: $bg;
            color: $White;
            text-align: center;
            padding: 50px 250px;

            .label {
                width: 40%;
                padding: 0 25px;
                margin: 50px 0px;
                display: inline-block;

                img {
                    height: 80px;
                }

                h3 {
                    margin-top: 20px;
                }

                p {
                    font-size: 0.8rem;
                    margin-top: 20px;
                }
            }
        }

        .section-3 {            
            .container {
                background-color: $bg;
                overflow: hidden;

                img {
                    width: 50%;
                    float: left;
                }

                div {
                    width: 50%;
                    float: left;
                    color: $White;
                    padding-top: 100px;
                    padding-left: 60px;

                    h1 {
                        font-family: $Headings;
                        font-size: 2rem;
                        font-weight: 700;
                        margin-top: 50px;
                    }

                    p {
                        margin-top: 25px;
                        line-height: 25px;
                    }

                    .link {
                        padding-top: 0;
                        padding-left: 0;
                        
                        a {
                            color: $Cyan;
                            font-size: 1rem;
                            float: left;
                        }

                        img {
                            width: 36px;
                            height: 22px;
                            padding-left: 14px;
                            padding-left: 14px;
                        }
                    }
                }
            }
        }
    }
}
